:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
    --font-size: 15px;
    --font-family-headings: "Josefin Sans", sans-serif;
    --font-family-text: "Alata", sans-serif;
}


/* General */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    /* temporary solution */
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family-text);
    font-weight: 400;
    color: var(--dark-gray);
}

img {
    max-width: 100%;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

p {
    max-width: 60ch;
    margin: 1rem auto;
}


/* Reusable */

.container {
    width: clamp(16rem, 90vw, 70rem);
    margin: 0 auto;
    padding: 0 1.4rem;
    /*! border: 1px solid lightcoral; */
}

.container-header {
    width: 100vw;
}

.is_visually_hidden {
    block-size: 1px;
    inline-size: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.no-scroll {
    overflow-y: hidden;
}


/* Typo */

.title {
    font-family: var(--font-family-headings);
    color: var(--black);
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
}

.hero__title {
    font-size: clamp(2.124rem, 1.3737rem + 3.517vw, 4.75rem);
    color: var(--white);
    text-align: initial;
    margin: 0.3em auto 0.3em 0.2em;
}

.virtual-reality__title,
.creations__title {
    font-size: clamp(2.13rem, 1.7779rem + 1.4085vw, 3.13rem);
    margin-bottom: 1rem;
}

.creations-title {
    font-size: 1.4375rem;
    margin: 0;
}


/* Header */

.header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2em 1.5em;
}

.nav__title {
    z-index: 3;
    margin: 0;
}

.nav__logo {
    fill: var(--white);
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    min-height: 100vh;
    background-color: var(--black);
    font-family: var(--font-family-headings);
    font-size: 2rem;
    color: var(--white);
    list-style: none;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
}

.open .nav__list {
    transform: translateX(0);
}

.nav__item {
    list-style: none;
}

.nav__title {
    font-size: 0;
}


/* Button */

.nav__hamburguer {
    display: flex;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
    z-index: 3;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}


/* Hero */

.hero {
    background: url("../images/mobile/image-hero.jpg") center center/cover no-repeat;
    z-index: -1;
    position: relative;
}

.hero__content {
    display: flex;
    align-items: center;
    min-height: 74vh;
    /* Make height clamp */
}

.hero__banner {
    max-width: 35.1875rem;
    border: 2px solid var(--white);
}


/* Virtual Reality Section */

.virtual-reality__content {
    margin: 9em auto;
}

.virtual-reality__text {
    text-align: center;
}


/* Creations Section */

.creations__grid {
    display: grid;
    gap: 2em;
}

.creation-item {
    position: relative;
}

.creation-item::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient( to left, rgba(255, 0, 0, 0) 0%, rgba(34, 33, 33, 0.52) 100%);
}

.creations-title {
    position: absolute;
    bottom: 10%;
    color: var(--white);
    z-index: 1;
}

.background__img {
    width: 100%;
    height: 100%;
}


/*  */

@media (min-width: 40em) {
    .hero {
        background: url("../images/desktop/image-hero.jpg") center/cover no-repeat #0000004f;
        background-blend-mode: darken;
    }
}

@media (min-width: 48em) {
    .container-header {
        width: clamp(16rem, 90vw, 70rem);
    }
    .nav__list {
        position: initial;
        width: initial;
        min-height: initial;
        transform: initial;
        transition: initial;
        background: initial;
        flex-direction: row;
        padding: 0;
        z-index: 1;
        margin-bottom: 0;
        text-transform: capitalize;
        font-family: var(--font-family-text);
    }
    .nav__link {
        margin-left: 1.6em;
        font-size: 1rem;
        transition: all 0.1s;
    }
    .nav__hamburguer {
        display: none;
    }
    .virtual-reality__content {
        display: grid;
        grid-template: auto/ 1fr 1fr;
        gap: 5%;
    }
}

@media (min-width: 64em) {
    .virtual-reality__content {
        grid-template: auto/ repeat(6, 1fr);
    }
    .virtual-reality__text {
        padding: 2.6em 0 0 5.4em;
        grid-row: 2 / span 1;
        grid-column: 4 / span 3;
        background: #fff;
        text-align: left;
    }
    .virtual-reality__img {
        grid-row: 1 / span 2;
        grid-column: 1 / span 4;
    }
}


/* landscape */